Repository bachya/simplisafe-python, pull requests merged in 2020-02, with the labels that each got.

#96 Rename script directory
  pyproject.toml
  script/__init__.py
  script/test_events.py
  script/test_locks.py
  script/test_sensor_properties.py
  script/test_sensor_types.py
  script/test_system_state.py
  script/test_websocket.py
Labels: cleanup

#97 Add categories to release drafter
  .github/release-drafter.yml
Labels: ci/cd

#98 Replace Makefile with bash scripts
  Makefile
  README.md
  script/setup
  script/test
Labels: tooling

#101 Add release script
  script/release
Labels: ci/cd, tooling

#102 Add shellcheck to CI
  .github/workflows/ci.yaml
  script/release
Labels: ci/cd

#103 Fix CI
  .github/workflows/ci.yaml
Labels: ci/cd

#104 Add support for "Sensor Not Responding" and "Sensor Restored" events
  docs/websocket.rst
  simplipy/websocket.py
Labels: enhancement

#105 Bump mypy (in pre-commit) to 0.761
  .pre-commit-config.yaml
Labels: dependencies

#106 Combile linting and static analysis into one CI pipeline
  .github/workflows/ci.yaml
Labels: ci/cd

#107 Consolidate pre-commit commands in CI
  .github/workflows/ci.yaml
  docs/system.rst
Labels: ci/cd

#108 Add support for "Power Outage" and "Power Restored" events
  docs/websocket.rst
  simplipy/websocket.py
Labels: enhancement

#109 Remove pre-commit repos from poetry dependencies
  .pre-commit-config.yaml
  pyproject.toml
  requirements_test.txt
  tests/__init__.py
Labels: tooling

#110 Remove support for Python 3.6
  docs/usage.rst
  pyproject.toml
Labels: tooling

#112 Convert websocket events to a dataclass
  docs/api.rst
  docs/conf.py
  docs/index.rst
  docs/message.rst
  docs/websocket.rst
  examples/test_websocket.py
  pyproject.toml
  requirements_test.txt
  simplipy/helpers/__init__.py
  simplipy/helpers/message.py
  simplipy/util/dt.py
  simplipy/websocket.py
  tests/helpers/__init__.py
  tests/helpers/test_message.py
  tests/test_websocket.py
Labels: enhancement

#111 Add support for retrieving system messages
  docs/message.rst
  docs/system.rst
  simplipy/helpers/message.py
  simplipy/system/__init__.py
  tests/fixtures/v3_subscriptions_response.json
  tests/test_system.py
Labels: enhancement

#114 Fix simplistic system state test
  tests/fixtures/v3_subscriptions_unknown_state_response.json
  tests/test_system.py
Labels: tooling

#115 Don't generate Message objects with each property inspection
  simplipy/system/__init__.py
Labels: bug

#116 Separate websocket and system notification ("message") dataclasses
  docs/api.rst
  docs/index.rst
  docs/message.rst
  docs/system.rst
  docs/websocket.rst
  simplipy/helpers/__init__.py
  simplipy/helpers/message.py
  simplipy/system/__init__.py
  simplipy/websocket.py
  tests/fixtures/v3_subscriptions_response.json
  tests/fixtures/websocket_known_event_response.json
  tests/fixtures/websocket_unknown_event_response.json
  tests/helpers/__init__.py
  tests/helpers/test_message.py
  tests/test_system.py
  tests/test_websocket.py
Labels: enhancement

#117 Fix incorrect websocket event property name
  docs/system.rst
  simplipy/websocket.py
  tests/test_websocket.py
Labels: bug

#120 Fix typo in the lock docs
  docs/lock.rst
Labels: docs

#122 Fix an error in the system docs
  docs/system.rst
Labels: docs

#123 Add pre-commit repos for JSON and branch
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Labels: ci/cd, tooling

#124 Add "maintenance" label to release drafter
  .github/release-drafter.yml
Labels: tooling

#125 Streamline websocket reconnections with new tokens
  examples/test_websocket.py
  simplipy/api.py
  simplipy/websocket.py
  tests/test_websocket.py
Labels: maintenance

#126 Remove refresh_token_dirty property from API object
  docs/advanced.rst
  examples/test_sensor_properties.py
  simplipy/api.py
  tests/test_api.py
  tests/test_system.py
Labels: breaking change, maintenance

#127 Fix bug where Basic systems can't access notifications
  simplipy/system/__init__.py
Labels: bug

#128 Fix unhandled exception with V3 systems that are missing base station
  simplipy/system/v3.py
  tests/test_system.py
Labels: bug

#129 Flesh out fixture usage in test harness
  tests/conftest.py
  tests/fixtures/subscriptions_response.json
  tests/fixtures/v2_subscriptions_response.json
  tests/fixtures/v3_subscriptions_unknown_state_response.json
  tests/sensor/__init__.py
  tests/sensor/test_base.py
  tests/sensor/test_v2.py
  tests/sensor/test_v3.py
  tests/system/__init__.py
  tests/system/test_base.py
  tests/system/test_v2.py
  tests/system/test_v3.py
  tests/test_api.py
Labels: maintenance

#130 Properly parametrize V3 system test
  tests/system/test_v3.py
Labels: maintenance

#131 Fix various test linting and documentation issues
  tests/system/test_v2.py
  tests/test_api.py
Labels: maintenance
