Repository bachya/simplisafe-python, pull requests merged in 2020-10, with the labels that each got.

#186 Keep existing system state when cloud fails to return a state
  simplipy/system/__init__.py
Labels: bug

#182 Added support to expose camera and doorbell data
  AUTHORS.md
  simplipy/api.py
  simplipy/camera.py
  simplipy/system/__init__.py
  tests/common.py
  tests/fixtures/subscriptions_response.json
  tests/system/test_v2.py
  tests/system/test_v3.py
  tests/test_camera.py
Labels: enhancement

#187 Remove unnecessary variable type annotations
  .pre-commit-config.yaml
  simplipy/api.py
  simplipy/camera.py
  simplipy/entity.py
  simplipy/lock.py
  simplipy/sensor/v2.py
  simplipy/sensor/v3.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
  simplipy/websocket.py
Labels: maintenance

#189 Clean up API module
  simplipy/api.py
Labels: maintenance

#190 Clean up system creation
  simplipy/api.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance

#191 Split up pin payload generation method
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance

#193 Refactor how data is shared by API, systems, and entities
  docs/camera.rst
  docs/index.rst
  docs/lock.rst
  simplipy/api.py
  simplipy/camera.py
  simplipy/entity/__init__.py
  simplipy/entity/factory.py
  simplipy/lock.py
  simplipy/sensor/v2.py
  simplipy/sensor/v3.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
  tests/common.py
  tests/fixtures/v3_sensors_response.json
  tests/system/conftest.py
  tests/system/test_v3.py
  tests/test_api.py
  tests/test_camera.py
  tests/test_lock.py
Labels: maintenance

#194 Remove unnecessary logging statements
  simplipy/api.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance

#195 Clean up old/outdated linting instructions
  simplipy/system/__init__.py
  simplipy/websocket.py
Labels: maintenance

#196 Remove unnecessary type annotations
  simplipy/camera.py
  simplipy/entity/factory.py
  simplipy/system/__init__.py
  simplipy/system/v3.py
  simplipy/websocket.py
Labels: maintenance

#197 Replace Enum type annotations with SystemStates
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance

#198 Abstract logger into a constant
  simplipy/api.py
  simplipy/camera.py
  simplipy/const.py
  simplipy/entity/__init__.py
  simplipy/entity/factory.py
  simplipy/lock.py
  simplipy/sensor/v2.py
  simplipy/sensor/v3.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
  simplipy/websocket.py
Labels: maintenance

#199 Change MFA script to use INFO-level logging
  script/mfa
Labels: maintenance

#200 Fix bug with data references
  simplipy/api.py
  simplipy/entity/__init__.py
  simplipy/lock.py
  simplipy/sensor/v2.py
  simplipy/sensor/v3.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
  tests/test_lock.py
Labels: bug

#201 Fix data references for cameras
  simplipy/camera.py
Labels: bug

#203 Remove redundant system update method
  simplipy/system/__init__.py
Labels: maintenance

#204 Move appropriate entities to their own system version
  simplipy/api.py
  simplipy/entity.py
  simplipy/entity/factory.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance

#206 Add "active" parameter to systems
  simplipy/api.py
  simplipy/system/__init__.py
  tests/fixtures/subscriptions_deactivated_response.json
  tests/system/test_base.py
Labels: enhancement

#205 Properly await coroutine
  simplipy/system/v3.py
Labels: bug
