Repository bachya/simplisafe-python, pull requests merged in 2021-09, with the labels that each got.

#255 Re-architect library
  docs/api.rst
  docs/sensor.rst
  pyproject.toml
  requirements_test.txt
  simplipy/__init__.py
  simplipy/api.py
  simplipy/device/__init__.py
  simplipy/device/camera.py
  simplipy/device/lock.py
  simplipy/device/sensor/v2.py
  simplipy/device/sensor/v3.py
  simplipy/entity.py
  simplipy/lock.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
  tests/conftest.py
  tests/fixtures/events_empty_response.json
  tests/fixtures/events_missing_response.json
  tests/fixtures/subscriptions_deactivated_response.json
  tests/fixtures/subscriptions_missing_system_response.json
  tests/fixtures/v2_new_pins_response.json
  tests/fixtures/v2_state_away_response.json
  tests/fixtures/v2_state_off_response.json
  tests/fixtures/v2_state_response.json
  tests/fixtures/v3_lock_state_response.json
  tests/fixtures/v3_lock_unlock_response.json
  tests/fixtures/v3_settings_deleted_pin_response.json
  tests/fixtures/v3_settings_full_pins_response.json
  tests/fixtures/v3_settings_new_pin_response.json
  tests/fixtures/v3_state_away_response.json
  tests/fixtures/v3_state_off_response.json
  tests/fixtures/v3_state_response.json
  tests/sensor/__init__.py
  tests/sensor/test_base.py
  tests/sensor/test_v2.py
  tests/sensor/test_v3.py
  tests/system/__init__.py
  tests/system/conftest.py
  tests/system/test_base.py
  tests/system/test_v2.py
  tests/system/test_v3.py
  tests/test_api.py
  tests/test_camera.py
  tests/test_lock.py
Labels: maintenance, breaking change

#250 Add new camera models (and the concept of an "Outdoor Camera")
  AUTHORS.md
  simplipy/device/__init__.py
  simplipy/device/camera.py
  tests/fixtures/subscriptions_response.json
Labels: enhancement

#256 Move pylintrc into pyproject.toml
  pylintrc
  pyproject.toml
Labels: maintenance

#257 Remove official support for Python 3.7
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  docs/usage.rst
  pyproject.toml
  simplipy/api.py
  simplipy/device/__init__.py
  simplipy/device/camera.py
  simplipy/device/sensor/__init__.py
  simplipy/device/sensor/v3.py
  simplipy/system/__init__.py
  simplipy/system/v2.py
  simplipy/system/v3.py
Labels: maintenance, breaking change

#258 Implement support for SimpliSafe's use of Auth0 OAuth
  .coveragerc
  README.md
  docs/advanced.rst
  docs/api.rst
  docs/images/ss-login-screen.png
  docs/images/ss-verification-confirmed.png
  docs/images/ss-verification-email.png
  docs/usage.rst
  examples/test_client_by_auth.py
  examples/test_client_by_refresh_token.py
  examples/test_events.py
  examples/test_locks.py
  examples/test_pins.py
  examples/test_sensors.py
  examples/test_system_state.py
  script/auth
  script/mfa
  simplipy/__init__.py
  simplipy/api.py
  simplipy/errors.py
  simplipy/util/auth.py
  simplipy/util/dt.py
  simplipy/util/string.py
  tests/common.py
  tests/conftest.py
  tests/fixtures/api_token_response.json
  tests/fixtures/invalid_authorization_code_response.json
  tests/fixtures/invalid_credentials_response.json
  tests/fixtures/invalid_refresh_token_response.json
  tests/fixtures/mfa_authorization_pending_response.json
  tests/fixtures/mfa_challenge_response.json
  tests/fixtures/mfa_required_response.json
  tests/fixtures/websocket_known_event_response.json
  tests/fixtures/websocket_unknown_event_response.json
  tests/sensor/test_base.py
  tests/sensor/test_v2.py
  tests/sensor/test_v3.py
  tests/system/test_base.py
  tests/system/test_v2.py
  tests/system/test_v3.py
  tests/test_api.py
  tests/test_camera.py
  tests/test_lock.py
Labels: maintenance, breaking change
