Repository bachya/simplisafe-python, pull requests merged in 2022-11, with the labels that each got.

#382 Remove full name
  AUTHORS.md
Labels: documentation

#383 Change how inactive systems are detected
  simplipy/api.py
  tests/system/test_base.py
Labels: bug

#384 Don't guard system ID or serial against missing data
  simplipy/system/__init__.py
Labels: maintenance
