Repository bachya/simplisafe-python, pull requests merged in 2022-05, with the labels that each got.

#336 Fix incorrect sequencing for email-based 2FA
  examples/test_client_by_credentials.py
  pyproject.toml
  requirements_test.txt
  simplipy/api.py
  tests/conftest.py
  tests/test_2fa.py
  tests/test_api.py
Labels: bug

#338 Handle bug in API creation when credentials have already been verified
  simplipy/api.py
  tests/test_2fa.py
Labels: bug

#339 Fix incorrect docs
  docs/usage.rst
Labels: docs

#340 Fix more doc issues
  docs/conf.py
  docs/usage.rst
  simplipy/api.py
Labels: docs

#342 Add pyupgrade pre-commit hook
  .pre-commit-config.yaml
  simplipy/device/lock.py
  simplipy/system/__init__.py
  simplipy/system/v3.py
Labels: tooling

#343 Use nox for test automation
  .github/workflows/ci.yaml
  .gitignore
  README.md
  noxfile.py
  pyproject.toml
  requirements_test.txt
  script/docs
  script/test
Labels: tooling

#344 Add myst-parser for Markdown based docs
  docs/api.md
  docs/camera.md
  docs/camera.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/intro.md
  docs/lock.md
  docs/lock.rst
  docs/sensor.md
  docs/sensor.rst
  docs/system.md
  docs/system.rst
  docs/usage.md
  docs/usage.rst
  docs/websocket.md
  docs/websocket.rst
  noxfile.py
  pyproject.toml
Labels: docs

#345 Move coverage configuration to pyproject.toml
  .coveragerc
  pyproject.toml
  tests/test_api.py
Labels: maintenance

#346 Flake
  .flake8
  .pre-commit-config.yaml
  simplipy/api.py
  simplipy/device/camera.py
Labels: maintenance

#330 Use environment variables for test instead of editing the source.
  examples/test_client_by_credentials.py
  examples/test_client_by_refresh_token.py
  examples/test_websocket.py
Labels: maintenance

#347 Simplify sync callback handling
  simplipy/util/__init__.py
Labels: maintenance

#348 Handle more errors during API creation process
  simplipy/api.py
  tests/test_api.py
Labels: bug
