Repository bachya/simplisafe-python, pull requests merged in 2024-01, with the labels that each got.

#710 Update license to 2024
  LICENSE
Labels: documentation

#713 Migrate from `rtx` to `mise`
  .mise.toml
  script/setup
Labels: maintenance

#717 Fix incorrect `pytest` command in README
  README.md
Labels: documentation

#719 Address upcoming deprecation of `datetime.datetime.utcnow()`
  pyproject.toml
  simplipy/api.py
  simplipy/system/v3.py
  simplipy/util/dt.py
  simplipy/websocket.py
  tests/system/test_v3.py
  tests/test_api.py
  tests/test_lock.py
Labels: bug

#720 Fix CI badge in README
  README.md
Labels: documentation

#725 Remove Safety as a dependency
  poetry.lock
  pyproject.toml
Labels: maintenance

#726 Remove `beautifulsoup4` as a dependency
  poetry.lock
  pyproject.toml
Labels: dependencies

#708 Add support for retrieving media from outdoor cameras
  docs/websocket.md
  simplipy/api.py
  simplipy/websocket.py
  tests/conftest.py
  tests/fixtures/ws_motion_event_data.json
  tests/test_media.py
  tests/test_websocket.py
Labels: enhancement
